.imagediv{
    /* border: 2px solid black;  */
    overflow: hidden;
    height: 500px;
    position: relative;
    border-radius: 10px;
}
.img-slide{
    display:flex;
    height: 500px;
}
.img-slide div{
    position: relative;
}
.img-slide div img{
    height: 500px;
}
.img-slide div h3{
    color: #ffffff;
    background-color: rgb(180, 177, 218);
    border: 1px solid #000;
    border-radius: 5px;
    width: max-content;
    position:absolute;
    top:10px;
    left:100px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 5px;
}
#leftbtn{
    position:absolute;
    top:50%;
    left:5%;
    z-index: 10;
    color: #fff;
    cursor: pointer;
    border: none;
    background: none;
}
#rightbtn{
    position:absolute;
    top:50%;
    right:5%;
    color: white;
    z-index: 10;
    cursor: pointer;
    border: none;
    background: none;
}
#leftbtn:hover,#rightbtn:hover{
    border: 2px solid white;
    background-color: aliceblue;
    opacity: 0.5px;
}