.imagediv{
    border: 2px solid black; 
    overflow: hidden;
    /* width: auto; */
    height: 400px;
    position: relative;
}
.img-slide{
    display:flex;
    height: 400px;
}
.img-slide img{
    height: 400px;
    width:fit-content;
}
/* .noticebox{
    height: auto;
    width:autofill;
    border: 3px double black;
    box-shadow: 2px 5px 3px grey;
    display: flex;
    align-items: center;
    flex-direction: column;
} */
.leftbtn{
    position:absolute;
    top:50%;
    left:5%;
    z-index: 10;
    color: white;
    font-size: large;
    cursor: pointer;
}
.rightbtn{
    position:absolute;
    top:50%;
    right:5%;
    color: white;
    z-index: 10;
    font-size: large;
    cursor: pointer;
}