body {
    background-color:#fff;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
}
.menu-icon,.search-icon{
    cursor: pointer;
    /* color: white; */
}
.menu-bar {
    display: flex;
    height: 180px;
    width: 100%;
    position: sticky;
    flex-wrap: wrap;
    border-radius:10px;
    box-shadow:2px 5px 10px rgb(142 151 140);
    align-items:flex-start;
    background:url("./Hope House2.png");
    background-repeat:no-repeat;
    background-size: cover;
}

.home img {
    height: 32px;
    width: 32px;
    border-radius: 20px;
    border: 2px solid whitesmoke;
}

.home {
    list-style: none;
    position:relative;
    top: 2px;
    right: 5px;
}

.left-bar {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    justify-content: flex-start;
}

.right-bar {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    justify-content: flex-end;
    /* margin-right: 20px; */
    /* align-self: flex-end; */
}

.left-child,
.right-child {
    display: flex;
    margin: 0 3px 0 3px;
    /* background: #f1f1f1; */
    justify-content: center;
    padding: 5px;
    font-family: "Times new roman" sans-serif;
    font-weight: 500;
    border: 1px solid rgb(214, 233, 210);
    border-radius: 10px;
    /* box-shadow: 1px 2px 3px 3px rgb(180, 180, 180); */
}
.left-child:hover,
.right-child:hover{
    /* background-color: rgb(172, 196, 167); */
    opacity: 1;
    font-weight: 600;
    transition:all 0.4s ease;
}
.menu-bar a {
    font-size: medium;
    text-decoration: none;
    color: #ffffff;
    /* opacity: 1; */
}
.menu-icon,.search-icon{
    color: #fffdfd;
}
.Ddesc{
    display: block;
    height: 100px;
    width:100px;
    border: 2px solid white;
    background: #fff;
    box-shadow: 2px 5px 10px grey;
    border-radius: 10px;
    opacity: 75%;
    text-align: center;
    color: #1B1A1B;
    position: absolute;
    top:60px;
    visibility: hidden;
    padding-bottom: 5px;
}

.donatebutton:hover .Ddesc,.applybutton:hover .Ddesc,.helpbutton:hover .Ddesc{
    visibility: visible;
}
.dropitems{
    height: auto;
    width:100px;
    background: #fff;
    box-shadow: 2px 5px 10px grey;
    border-radius: 15px;
    position: absolute;
    top:60px;
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.dropitems li{
    list-style-type: none;
    margin-left:-40px ;
    /* line-break: auto; */
}
.dropitems li a{
    color: #1B1A1B ;
    padding: 10px;
    display: block;
    margin: 0;
    padding-left:15px;
}
.container{
    display: flex;
}
.side-bar{
    background:#1B1A1B;
    width: 300px;
    left:-310px;
    height:auto;
    min-height: 510px;
    position: absolute;
    top:200px;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
    border: 2px solid white;
    box-shadow: 2px 3px 4px grey;
    border-radius: 0 10px 10px 0; 
}
.side-bar.open{
    left:0px;
}
.main-content {
    display: flex;
    height: 500px;
    width:100%;
    margin-top: 10px;
    padding-left:10px;
    padding-top:10px;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 15px hsl(0, 6%, 35%);
    background-color: white;
}
.main-content {
    margin-left: 0;
    transition: margin-left 0.6s ease;
  }
.main-content.open {
    margin-left: 300px;
  }

  /* noticebox styling start */
  .noticebox{
    display: flex;
    flex-direction: column;
    flex:1 1 100px;
    border:2px dotted #1B1A1B;
    border-radius:10px;
    padding: 5px;
    margin-left: 10px;
    overflow: hidden;
    scroll-snap-type: proximity;
  }
  .noticebox h3{
    display: flex;
    justify-content: center;
    height: 55px;
    border: 2px solid white;
    box-shadow: 2px 5px 5px grey;
    border-radius:10px ;
    margin-top: 0px;
    background: linear-gradient(rgb(112, 206, 243),rgb(253, 212, 212),rgb(170, 255, 181));
    color: #190353;
  }
  .notice-item{
    display: block;
    align-content: center;
    height: 100px;
    border:2px solid #694cb6;
    margin: 5px;
    padding-top: 3px;
    overflow: hidden;
    text-align: center;
  }
  .notice-item a{
    text-decoration: none;
    font-size: large;
  }
  /* main-content styling end */


            /* menuslider_css_script */

header img{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    margin: 15px; 
    margin-left:110px;
    padding:2px ;
    border:2px solid #fff;
}
header{
background-color: #694cb6;
}
.close-btn{
    position: absolute;
    right:0;
    color: #ffffff;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}
header h1{
    text-align: center;
    color:#ffffff;
    font-size: 25px;
    padding-bottom: 10px;
    margin-top: 5px;
}
.menu{
    width:100%;
    margin-top:15px;
}
.menu-items{
    display: block;
    align-content: baseline;
    position:relative;
    cursor: pointer;
}
.items{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px 30px;
    line-height: 20px;
}
.menu-items i{
    margin-right: 10px;
    /* padding-top: 10px; */
    padding-left: 2px;
    padding-right: 5px;
}
.menu-items .submenu{
    background: #302e30;
    padding-inline-start:20px ;
}
.dropdown{
    position: absolute;
    right:0;
    margin: 20px;
    transition: 0.3 ease;
}
.submenu{
    display: none;
}
.submenu a{
    color:#fff;
    text-decoration: none;
    padding-inline-start: 50px;
    padding-top:5px;
}
.submenu1{
    display: flex;
    flex-direction: column;
    margin:2px;
}
/* content adjust while clicking sidebar */

/* for computer */
/* for tablets */
@media screen and (max-width:480px) {
    .menu-bar {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .left-bar {
        display: flex;
        flex-wrap: nowrap;
        padding-right: 0;
    }

    .right-bar {
        display: flex;
        flex: 1 1 100px;
    }
}
/* for mobiles */
@media screen and(max-width:300px) {
    .right-bar {
        display: none;
    }
    body {
        background: url("IMG_20230705_215752.jpg");
        background-size: auto;
        background-repeat: no-repeat;
        background-size: cover;
    }
}